*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cormorant Garamond", serif;
}
.container {
  width: 1100px;
}
.container-fluid {
    width:1366px ;
}
.row {
    display: flex;
    justify-content: center;
}