.banner {
    .banner-img{
        background-image:url(/images/pexels-zaksheuskaya-709412-1616403.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     height: 60vh;
     width: 100%;
     background-position: center;
    }
    }
